.deviceForm{
    width: 100%;
    max-width: 1200px;
    min-height: 500px;
    border: 1px solid whitesmoke;
    padding: 40px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background: #fff;
    align-items: center;
    position: relative;
    box-shadow: 0px 10px 20px #ffffff2e;
}
.deviceForm__image{
    position: relative;
}
.deviceForm__inputs{
    position: relative;
    z-index: 0;
}
.deviceForm__halfGrid{
    display: flex;
}