.formInput{
    width: 100%;
    margin-bottom: 15px;
}
.formInput input{
    width: 100%;
    padding: 10px 10px;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
}